.dib {
    display: inline-block;
}
.m10 {
    margin: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.p10 {
    padding: 10px;
}
.pt10 {
    padding-top: 10px;
}
.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pt20 {
    padding-top: 20px;
}
.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
