// 导航
.body-development,
.body-dev,
.body-production {
    .page-sider {
        .el-menu {
            background-color: #324157;
            border: none;
            .iconfont {
                padding-right: 20px;
            }
            .el-menu-item,
            .el-submenu__title,
            .el-submenu__icon-arrow,
            .iconfont {
                color: #bfcbd9;
            }
            .el-menu {
                background-color: #1f2d3d;
            }
            .el-menu-item.is-active {
                color: #20a0ff;
            }
            .el-menu-item:hover {
                background-color: #48576a;
            }
            .el-submenu__title:hover {
                background-color: #48576a;
            }
        }
    }
}

// 头部
.top-info-content {
    .el-menu {
        background-color: #eef1f6;
        border-bottom: none;
        .el-submenu__title:hover {
            background-color: #eef1f6;
            border-bottom-color: #20a0ff !important;
        }
    }
}

// 表单绿色
.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
    border-color: #bfcbd9;
}

// 表头
.el-table {
    th {
        &,
        &>.cell {
            color: #1f2d3d;
            background-color: #eef1f6;
        }
    }
}

// 多选下拉框
.el-select-dropdown__item.selected {
    font-weight: normal;
}

.el-select .el-tag {
    background-color: rgba(32, 160, 255, .1);
    border-color: rgba(32, 160, 255, .2);
    color: #20a0ff;
}

// 分页
.el-pager {
    li {
        border: 1px solid #d1dbe5;
        box-sizing: border-box;
        border-right: none;
        min-width: 28px;
        &.active {
            border-color: #20a0ff;
            background-color: #20a0ff;
            color: #fff;
            cursor: default;
        }
        &:last-child {
            border-right: 1px solid #d1dbe5;
        }
        &.btn-quicknext,
        &.btn-quickprev {
            color: #97a8be;
            &:hover {
                color: #20a0ff;
            }
        }
    }
}

.el-pagination {
    color: #48576a;
    font-weight: normal;
    .btn-prev,
    .btn-next {
        min-width: 28px;
        background: center center no-repeat #fff;
        background-size: 16px;
        border: 1px solid #d1dbe5;
        cursor: pointer;
        margin: 0;
        color: #97a8be;
    }
    .btn-prev {
        padding-right: 6px;
        border-radius: 2px 0 0 2px;
        border-right: 0
    }
    .btn-next {
        padding-left: 6px;
        border-radius: 0 2px 2px 0;
        border-left: 0
    }
    button {
        border: none;
        padding: 0 6px;
        background: 0 0;
        &.disabled {
            color: #e4e4e4;
        }
    }
}

.el-pagination__editor.el-input {
    width: 40px;
    border-radius: 2px;
}
